@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* Colors */
  /* Primary */
  --Moderate-Violet: hsl(263, 55%, 52%);
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Very-Dark-Blackish-Blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);

  /* Neutral */
  --Light-Gray: hsl(0, 0%, 81%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
  /* 
1. "Verified Graduate" has the same color as the person's name with 50% opacity
2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", "sans-serif";
}

p {
  font-size: 13px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--Light-Grayish-Blue);
}

.main-container {
  width: 330px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card {
  border-radius: 0.5rem;
  padding: 2rem;
  margin: 1rem 0 1rem 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.user-info-area {
  display: flex;
  align-items: center;
}

.user-desc-area {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.user-name-text {
  font-size: 13px;
  color: var(--White);
}

.user-status-text {
  font-size: 11px;
  color: var(--White);
  opacity: 50%;
}

.card-main-text {
  font-size: 18px;
  color: var(--White);
  padding: 1rem 0 1rem 0;
}

.card-sub-text {
  font-size: 13px;
  color: var(--White);
  opacity: 70%;
  line-height: 18px;
}

.card-daniel {
  background-color: var(--Moderate-Violet);
}

.card-daniel .card-sub-text {
  margin-top: 2rem;
}

.card-jonathan {
  background-color: var(--Very-Dark-Grayish-Blue);
}

.card-jeanette {
  background-color: var(--White);
}

.card-jeanette .user-name-text {
  color: var(--Very-Dark-Blackish-Blue);
}
.card-jeanette .user-status-text {
  color: var(--Very-Dark-Grayish-Blue);
  opacity: 50%;
}

.card-jeanette .card-main-text {
  color: var(--Very-Dark-Blackish-Blue);
}
.card-jeanette .card-sub-text {
  color: var(--Very-Dark-Blackish-Blue);
  opacity: 70%;
}

.card-patrick {
  background-color: var(--Very-Dark-Blackish-Blue);
}

.card-kira {
  background-color: var(--White);
}

.card-kira .user-name-text {
  color: var(--Very-Dark-Blackish-Blue);
}
.card-kira .user-status-text {
  color: var(--Very-Dark-Grayish-Blue);
  opacity: 50%;
}

.card-kira .card-main-text {
  color: var(--Very-Dark-Blackish-Blue);
}
.card-kira .card-sub-text {
  color: var(--Very-Dark-Blackish-Blue);
  opacity: 70%;
}

@media (min-width: 375px) {
  .main-container {
    padding: 2rem;
    width: 70%;
    max-height: 50% !important;
    display: flex;
  }

  .card {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .cluster-left {
    flex: 3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .cluster-left-first-row {
    display: flex;
    flex-direction: row;
  }

  .cluster-left-second-row {
    display: flex;
    flex-direction: row;
  }

  .cluster-left .card-daniel {
    flex: 2;
  }
  .cluster-left .card-jonathan {
    flex: 1;
  }

  .cluster-right {
    flex: 1;
    min-height: 100%;
  }

  .cluster-right .card-kira {
    max-height: 100%;
  }
}
